#demo-request-button {
	margin-left: 27.3px;
	padding:-px;
}
img-comparison-slider {
  visibility: hidden;
}

img-comparison-slider.rendered {
  visibility: inherit;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
